body {
  margin:0px;
  background-color:rgba(190, 219, 236, 0.996078431372549);
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:176px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:807px;
  width:174px;
  height:176px;
  display:flex;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
  opacity:0.7;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:150px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:800px;
  width:131px;
  height:150px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
  opacity:0.7;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:312px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:274px;
  width:84px;
  height:312px;
  display:flex;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:437px;
  width:67px;
  height:65px;
  display:flex;
  opacity:0.6;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:515px;
  width:67px;
  height:65px;
  display:flex;
  opacity:0.6;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
  opacity:0.7;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:358px;
  width:67px;
  height:65px;
  display:flex;
  opacity:0.6;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:279px;
  width:67px;
  height:65px;
  display:flex;
  opacity:0.6;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:312px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:274px;
  width:84px;
  height:312px;
  display:flex;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:279px;
  width:67px;
  height:65px;
  display:flex;
  opacity:0.6;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:437px;
  width:67px;
  height:65px;
  display:flex;
  opacity:0.6;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:358px;
  width:67px;
  height:65px;
  display:flex;
  opacity:0.6;
  letter-spacing:2px;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:515px;
  width:67px;
  height:65px;
  display:flex;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
  opacity:0.7;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:61px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:8px;
  width:120px;
  height:61px;
  display:flex;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:53px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:12px;
  width:51px;
  height:53px;
  display:flex;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
  opacity:0.7;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:76px;
  width:99px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:53px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:12px;
  width:51px;
  height:53px;
  display:flex;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_img.mouseOver {
}
#u34.mouseOver {
  opacity:0.7;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:362px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:326px;
  width:367px;
  height:362px;
  display:flex;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:34px;
  height:42px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:519px;
  width:24px;
  height:32px;
  display:flex;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_img.mouseOver {
}
#u36.mouseOver {
  opacity:0.7;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 55, 55, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(102, 25, 25, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:137px;
  width:195px;
  height:55px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 55, 55, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(102, 25, 25, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u37.mouseOver {
  opacity:0.7;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:55px;
  background:inherit;
  background-color:rgba(89, 210, 101, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 60, 1, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:233px;
  width:195px;
  height:55px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:55px;
  background:inherit;
  background-color:rgba(89, 210, 101, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 60, 1, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u38.mouseOver {
  opacity:0.7;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:55px;
  background:inherit;
  background-color:rgba(105, 176, 232, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(25, 42, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:137px;
  width:195px;
  height:55px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:55px;
  background:inherit;
  background-color:rgba(105, 176, 232, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(25, 42, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u39.mouseOver {
  opacity:0.7;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:55px;
  background:inherit;
  background-color:rgba(187, 187, 187, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(91, 91, 91, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:236px;
  width:195px;
  height:55px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:55px;
  background:inherit;
  background-color:rgba(187, 187, 187, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(91, 91, 91, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u40.mouseOver {
  opacity:0.7;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:62px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:765px;
  width:215px;
  height:62px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:62px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u41.mouseOver {
  opacity:0.7;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
