body {
  margin:0px;
  background-color:rgba(190, 219, 236, 1);
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:176px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:806px;
  width:174px;
  height:176px;
  display:flex;
}
#u561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u561_img.mouseOver {
}
#u561.mouseOver {
  opacity:0.6;
}
#u561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:150px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:799px;
  width:131px;
  height:150px;
  display:flex;
}
#u562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u562_img.mouseOver {
}
#u562.mouseOver {
  opacity:0.6;
}
#u562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:312px;
  background:inherit;
  background-color:rgba(137, 200, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:274px;
  width:84px;
  height:312px;
  display:flex;
}
#u563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:279px;
  width:67px;
  height:65px;
  display:flex;
  opacity:0.6;
}
#u564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:437px;
  width:67px;
  height:65px;
  display:flex;
  opacity:0.6;
}
#u565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:358px;
  width:67px;
  height:65px;
  display:flex;
  opacity:0.6;
  letter-spacing:2px;
}
#u566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:515px;
  width:67px;
  height:65px;
  display:flex;
}
#u567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u567_img.mouseOver {
}
#u567.mouseOver {
  opacity:0.7;
}
#u567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:312px;
  background:inherit;
  background-color:rgba(169, 255, 168, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:274px;
  width:84px;
  height:312px;
  display:flex;
}
#u568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:437px;
  width:67px;
  height:65px;
  display:flex;
  opacity:0.6;
}
#u569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:515px;
  width:67px;
  height:65px;
  display:flex;
}
#u570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u570_img.mouseOver {
}
#u570.mouseOver {
  opacity:0.7;
}
#u570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:358px;
  width:67px;
  height:65px;
  display:flex;
  opacity:0.6;
}
#u571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:279px;
  width:67px;
  height:65px;
  display:flex;
  opacity:0.6;
}
#u572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:61px;
  background:inherit;
  background-color:rgba(254, 255, 193, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:8px;
  width:120px;
  height:61px;
  display:flex;
}
#u573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:53px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:12px;
  width:51px;
  height:53px;
  display:flex;
}
#u574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u574_img.mouseOver {
}
#u574.mouseOver {
  opacity:0.7;
}
#u574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 244, 189, 0.996078431372549);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:76px;
  width:99px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:53px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:12px;
  width:51px;
  height:53px;
  display:flex;
}
#u576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u576_img.mouseOver {
}
#u576.mouseOver {
  opacity:0.7;
}
#u576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:72px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:228px;
  width:93px;
  height:72px;
  display:flex;
}
#u577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u577_img.mouseOver {
}
#u577.mouseOver {
  opacity:0.7;
}
#u577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:72px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:374px;
  width:93px;
  height:72px;
  display:flex;
}
#u578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u578_img.mouseOver {
}
#u578.mouseOver {
  opacity:0.7;
}
#u578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:72px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:279px;
  width:93px;
  height:72px;
  display:flex;
}
#u579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u579_img.mouseOver {
}
#u579.mouseOver {
  opacity:0.7;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:72px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:425px;
  width:93px;
  height:72px;
  display:flex;
}
#u580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u580_img.mouseOver {
}
#u580.mouseOver {
  opacity:0.7;
}
#u580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:72px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:520px;
  width:93px;
  height:72px;
  display:flex;
}
#u581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u581_img.mouseOver {
}
#u581.mouseOver {
  opacity:0.7;
}
#u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:251px;
  width:79px;
  height:21px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u582 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:301px;
  width:91px;
  height:19px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u583 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:401px;
  width:81px;
  height:19px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u584 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:452px;
  width:78px;
  height:19px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u585 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:547px;
  width:69px;
  height:19px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u586 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:62px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:714px;
  width:236px;
  height:62px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u587_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:62px;
  background:inherit;
  background-color:rgba(35, 85, 191, 0.494117647058824);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u587.mouseOver {
  opacity:0.7;
}
#u587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
